<h1>Buscar usuario</h1>

<div class="container">
  <form #form="ngForm" (ngSubmit)="searchUser()">
    <label for="username">username</label>
    <input type="text" [(ngModel)]="txtUser" name="username">
    <button type="submit" class="btn btn-primary">Buscar usuario</button>
  </form>

  <!-- Mostrar datos del usuario -->
  <ng-container *ngIf="userData">
    <h2>Usuario encontrado</h2>
    <p>Username: {{ userData.username }}</p>
    <p>Nombre: {{ userData.firstName }}</p>
    <p>Apellido: {{ userData.lastName }}</p>
    <p>Correo: {{ userData.email }}</p>
    <p>Teléfono: {{ userData.phone }}</p>
  </ng-container>

  <div>
    <h2>Posts</h2>
 <!-- Mostrar posts-->
 <ng-container *ngFor="let publicacion of publicaciones">

  <h3>Titulo: {{ publicacion.title }}</h3>
  <p>Contenido: {{ publicacion.body }}</p>
  <h4>Reacciones: </h4> 
  <span>Likes: {{  publicacion.reactions.likes }}  </span> 
  <span>Dislikes: {{ publicacion.reactions.dislikes }}  </span>


<!--
  <ng-container *ngFor="let comment of publicacion.comments">
    <h3>Usuario: {{ comment.username }}</h3>
    <p>Comentario: {{ comment.body }}</p>
  </ng-container>
  
-->

  
</ng-container>

  </div>
  


</div>
