

<div class="container">
  <h1>Buscar usuario</h1>
  <form #form="ngForm" (ngSubmit)="searchUser()">
    <div class="form-group">
      <label for="username">Ingresa username del usuario a buscar:</label>
      <input type="text" [(ngModel)]="txtUser" name="username" class="form-control" placeholder="Ingresa el nombre de usuario">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Buscar usuario</button>
  </form>

  <!-- Mostrar datos del usuario -->
  <user-data *ngIf="userData" [user]="userData"></user-data>

  <div class="mt-4">
    <!-- Mostrar posts-->
    <app-post *ngFor="let publicacion of publicaciones" [post]="publicacion"></app-post>
  </div>

  <!-- Mostrar mensaje si el usuario no existe -->
  <div *ngIf="userData === null" class="alert alert-danger mt-3">
    Usuario no encontrado.
  </div>
</div>
