<h1>Buscar usuario</h1>

<div class="container">
  <form #form="ngForm" (ngSubmit)="searchUser()">
    <div class="form-group">
      <label for="username">Con username</label>
      <input type="text" [(ngModel)]="txtUser" name="username" class="form-control" placeholder="Ingresa el nombre de usuario">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Buscar usuario</button>
  </form>

  <!-- Mostrar datos del usuario -->
  <ng-container *ngIf="userData">
    <h2 class="mt-4">Usuario encontrado</h2>
    <div class="card">
      <div class="card-body">
        <p>Username: {{ userData.username }}</p>
        <p>Nombre: {{ userData.firstName }}</p>
        <p>Apellido: {{ userData.lastName }}</p>
        <p>Correo: {{ userData.email }}</p>
        <p>Teléfono: {{ userData.phone }}</p>
      </div>
    </div>

  </ng-container>

  <div class="mt-4">

    <!-- Mostrar posts-->
    <ng-container *ngFor="let publicacion of publicaciones" class="card mb-3">
      <h2>Posts</h2>
      <div class="card-body">
        <h3 class="card-title">Titulo: {{ publicacion.title }}</h3>
        <p ass="card-text">Contenido: {{ publicacion.body }}</p>
        <h4 class="card-subtitle mb-2 text-muted">Reacciones: </h4>
        <span>👍: {{  publicacion.reactions.likes }}  </span>
        <span>👎: {{ publicacion.reactions.dislikes }}  </span>
      </div>



    <ng-container *ngFor="let comment of publicacion.comments">
      <h3>Usuario: {{ comment.user.username }}</h3>
      <p>Comentario: {{ comment.body }}</p>
    </ng-container>


    </ng-container>

  </div>



</div>

 <!-- Mostrar mensaje si el usuario no existe -->
 <div *ngIf="userData === null" class="alert alert-danger mt-3">
  Usuario no encontrado.
</div>
